<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Gerenciamento de Alunos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2>Registro de Novos Alunos</h2>
        <form th:action="@{/gravarAluno}" th:object="${alunos}" method="post">
            <div style="margin: 3%">
                <div>
                    <label>Nome: </label>
                    <input type="text" placeholder="nome do aluno" th:field="*{nome}"
                           class="form-control col-md-4">
                </div>
                <div>
                    <label>Matricula: </label>
                    <input type="number" placeholder="matricula institucional" th:field="*{numeroMatricula}"
                           class="form-control col-md-4">
                </div>
                <div>
                    <label>Curso: </label>
                    <input type="text" placeholder="curso matriculado" th:field="*{cursoMatriculado}"
                           class="form-control col-md-4">
                </div>
                <div>
                    <button type="submit" class="btn btn-warning">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>